// 기본색
$black: #000;
$white: #fff;

// 배경색 & 폰트색
$bg-basic: #eee;        // 기본 배경색
$bg-em: #070401;        // 모든 것을 다 변수를 통해 한꺼번에 변경할 수 있도록

$font-basic: #7e4b0d;
$font-em: #efd73a;


// 폰트
$family-font: "AritaDotum";
// $fw300: 300;
// $fw500: 500;
// $fw700: 700;